
body{
    height: 100vh;
    width: 100%;
    
    margin: 0px ;
    
}
.ground{
   
    width: 100%;
    height: 100%;
    margin: 0px;
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: stretch;
}

.layer1,.layer2,.layer3,.layer4,.layer5{
    width: 80%;
    height: 25vh;

    border-width: 12px;

    border-style: solid;

    
}
.layer3,.layer4,.layer5{


    
    width: 60%;
    height: 16vh;
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: center;
	align-content: stretch;

}

.layer5{
    height: 7vh;
}

.cache{
    width: 25%;
    
    
    
}

.cpu{
    width:15%;
    max-height: 100%;
    
    
}


